.cardContainer {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: column;
}

.card {
  /*margin-left: 20%;*/
  margin: 16px;
  flex: 0 0 30%;
}

.bigCard {
  
  margin-left: 10%;
}
